# Rules
/.*/
/**/.git

# annoying dir
/qmk_firmware

# Make Searchable

# Select config dirs
!/.gitignore
!/.config
/.config/*
!/.config/nvim
!/.config/dime
!/.config/dwm
!/.config/dwmblocks
!/.config/dotfiles
!/.config/zsh
!/.config/st
!/.dotfiles

# Select local dir
!/.local
/.local/*
!/.local/share
