[user]
	email = liam@pop-stack.org
	liam = Liam Paul
	name = Liam Paul
[alias]
	lg = log --oneline --graph -10
	s = status -s -b
	cm = commit -m
	ad = add --interactive
	d = diff HEAD
	r = checkout HEAD --
