snippet im "Regular import" b
import ${1} from '${2}';
endsnippet

snippet ims "Regular import" b
import '${1}';
endsnippet

snippet cbf "Callback function" b
const ${1:name} = (${2}) => {
    ${3}
};
endsnippet

snippet cl "Console log" b
console.log(${1});
endsnippet
